<div class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="row">
                <div class="footer__slogan">
                    Beautiful houses<br>
                    for the modern family
                </div>
                <!-- /.footer__slogan -->
                <div class="footer__contact">
                    <ul class="footer-contact">
                        <li class="footer-contact__item"><a href="tel:+79275555555">Call +7 (927) 555-55-55</a></li>
                        <!-- /.footer-contact__item -->
                        <li class="footer-contact__item"><a href="mailto:house@space.ru">Email house@space.ru</a></li>
                        <!-- /.footer-contact__item -->
                        <li class="footer-contact__item footer-contact__item--social"><a href="#">Instagram</a> / <a href="#">Facebook</a></li>
                        <!-- /.footer-contact__item -->
                    </ul>
                    <!-- /.footer-contact -->
                </div>
                <!-- /.footer__contact -->
                <div class="footer__copyright">
                    <div class="footer-copyright">
                        <div class="footer-copyright__ico">
                            <img src="/src/img/design/ico/footer-copyright.svg" alt="img">
                        </div>
                        <!-- /.footer-copyright__ico -->
                        <div class="footer-copyright__text">© 2019 Space</div>
                        <!-- /.footer-copyright__text -->
                    </div>
                    <!-- /.footer-copyright -->
                </div>
                <!-- /.footer__copyright -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.footer__wrap -->
    </div>
    <!-- /.container -->
</div>
<!-- /.footer -->