<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="header__logo">
                <div class="logo">
                    Space
                </div>
                <!-- /.logo -->
            </div>
            <!-- /.header__logo -->
            <div class="header__menu">
                <button>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <!-- /.header__menu -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.header -->

<div class="menu">
    <button class="menu__close"></button>
    <!-- /.menu__close -->
    <div class="menu__links">
        <ul>
            <li><a target="_blank" href="https://instagram.com">Наш инстаграм</a></li>
            <li><a href="#process">Процесс</a></li>
            <li><a href="#page-form">Хочу построить дом</a></li>
        </ul>
    </div>
    <!-- /.menu__links -->
    <div class="menu__footer">
        <ul>
            <li>
                Unit 13, Waterside<br>
                44-48 Wharf Road<br>
                London, N1 7UX
            </li>
            <li class="divider"><a href="#">Google map</a></li>
            <li><a href="tel:+79275555555">Call +7 (927) 555-55-55</a></li>
            <li><a href="mailto:house@space.ru">Email house@space.ru</a></li>
            <li></li>
        </ul>
    </div>
    <!-- /.menu__footer -->
</div>
<!-- /.menu -->
