.btn{
  width: 188px;
  height: 48px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  padding: 0 23px;
  background: #09B14C;
  transition: .3s;
  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
  &:after{
    content: url("/src/img/design/ico/arrow-btn.svg");
    position: relative;
    top: 4px;
    right: 0;
    margin-left: 15px;
    transition: .3s;
  }
  &:hover{
    background: #E2E2E1;
    transform: scale(1.03);
    &:after{
      right: -5px;
    }
  }
}